<h1>Add a new post!</h1>

<form action="/main/addConfirm">
    Title: <input type="text" name="title" placeholder="Title"></br>
    Body: <input class="body" type="text" name="body" placeholder="Blog post here"></br>
    <button type="submit"> Publish! </button>
</form>
