<h1>Word Counting Blog Journal</h1>

<a href="/main/add">[add new post]</a>

<% @posts.each do |post|%>
<p>
Title: <%= post.title %> <br/>
Body: <%= post.body%>
<a href="/main/edit">[edit]</a>
<a href="/main/delete">[delete]</a>
</p>
<%end%>
